@import "../../assets/color.scss";

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background: linear-gradient(to right, $green, $yellow);
}

.logo {
  margin-top: 5px;
  padding: 5px;
  float: left;
  width: 45px;
}

.menu {
  margin-top: 5px;
  padding: 10px;
  width: 45px;
  float: right;
}

.profile {
  margin-top: 5px;
  padding: 10px;
  width: 45px;
  float: right;
}

.expand {
  margin-top: 5px;
  padding: 7px;
  width: 35px;
  float: right;
  display: none;
}

.expandPad {
  opacity: 0.5;
  display: none;
  z-index: 100;
  position: absolute;
  padding: 10px;
  padding-right: 200px;
  border: 1px solid $grey;
  background: $grey;
  color: white;
  right: 0;
  transform: translate(0%, -103%);
  line-height: 1.6;
  p{
    &:hover{
      transform: scale(1.1);
    }
  }
}

.titleBar {
  padding: 10px;
  background: $lightGrey;
  p {
    margin-left: 10%;
    line-height: 1.5;
    color: $grey;
  }
  h3 {
    margin-left: 10%;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 1000px) {
  .logo {
    margin-top: 5px;
    padding: 5px;
    float: left;
    width: 35px;
  }

  .menu {
    margin-top: 5px;
    padding: 7px;
    width: 35px;
    float: right;
  }

  .profile {
    margin-top: 5px;
    padding: 7px;
    width: 35px;
  }
}

@media (max-width: 600px) {
  .profile {
    display: none;
  }
  .menu {
    display: none;
  }
  .expand {
    display: block;
  }
  .expandPad {
    display: inline;
  }
}
