*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
}

h1{
  font-weight: bold;
  font-size: 26pt;
}

h2{
  font-weight: bold;
  font-size: 22pt;
}

h3{
  font-weight: bold;
  font-size: 15pt;
}

